---
name: Test (Molecule)

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
    push:
        branches:
            - main

    schedule:
        - cron: "0 22 * * 5"

defaults:
    run:
        working-directory: "ansible-role-zsh"

concurrency:
    group: test-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                include:
                    - distro: ubuntu2404
                      playbook: converge.yml
                    - distro: ubuntu2204
                      playbook: converge.yml
                    - distro: debian12
                      playbook: converge.yml
                    - distro: debian13
                      playbook: converge.yml

        steps:
            - name: Checkout the current branch
              uses: actions/checkout@v4
              with:
                  path: "ansible-role-zsh"

            - name: Setup of Python 3
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Install Ansible dependencies
              run: pip3 install ansible molecule molecule-plugins[docker] docker

            - name: Run Molecule test commands
              run: molecule test
              env:
                  MOLECULE_DISTRO: ${{ matrix.distro }}
                  MOLECULE_PLAYBOOK: ${{ matrix.playbook }}
                  PY_COLORS: "1"
                  ANSIBLE_FORCE_COLOR: "1"
